 


.container{
    text-align: center;
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    place-items: center;
    margin-top: 40px;
    
}
.Box{
       
     padding: 10px;
     height: 500px;
     width: 700px;
     align-items: center;
     align-content: center;
     
}

.Box1{
    margin-left: 250px;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20240913/pngtree-stunning-red-and-blue-smoke-images-for-download-image_16191211.jpg);
    height: 600px;
    width: 450px;
    box-shadow: 0px 4px 10px darkblue ;
    color: azure;
    
}
h1{
    text-align: center;
}

.Box2{
    text-align: center;
    margin-right: 200px;
    background-image: url(https://images.freeimages.com/images/large-previews/cd0/vintage-textured-background-0410-5699369.jpg?fmt=webp&w=500);
    height: 600px;
    width: 350px;
    box-shadow: 0px 4px 10px wheat ;
}
.mm{
    background-image: url(https://wallpapers.com/images/hd/1920-x-1080-hd-1qq8r4pnn8cmcew4.jpg);
   align-content: center;
}

button{
  width: 70px; 
    margin-top: 10px;
    height: 40px; 
    width: 140px;
        background-color: rgba(62, 65, 137, 0.684); 
        border-radius: 8%;
        padding: 5px;
        margin: auto;
}